.formContainer {
  background-color: var(--primary-white-color);
  padding: 40px 16px;
  border-radius: 8px;
  box-shadow: 2px 4px 9px 0px #a68dae47;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px 50px;
    justify-content: center;
  }
  @media screen and (min-width: 1440px) {
    // display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 24px 50px;
    align-content: center;
    // & label:nth-of-type(1) {
    //   order: 2;
    // }
    & label:nth-of-type(2) {
      order: 1;
    }
  }
}

.submitButton {
  display: block;
  width: 100%;
  padding: 16px 24px;

  background-color: var(--primary-color);
  color: var(--primary-white-color);
  border-radius: 8px;
  border: none;

  box-shadow: 2px 4px 9px 0px #a68dae47;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;

  &:hover,
  &:focus {
    background-color: #6650d0;
  }

  &:disabled {
    opacity: 0.35;
  }
}
