.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  min-width: 56px;
  height: 56px;
  padding: 16px;
  border-radius: 8px;
  gap: 16px;
  box-shadow: 2px 4px 9px 0px #a68dae47;
  border: none;
  background-color: var(--primary-white-color);
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:hover > .buttonIcon,
  &:focus > .buttonIcon {
    color: var(--primary-color);
    opacity: 0.8;
  }
}

.activeButton {
  @extend .button;
  background-color: var(--primary-color);
  color: var(--primary-white-color);

  &:hover > .buttonIcon,
  &:focus > .buttonIcon {
    color: var(--primary-white-color);
  }
}
.buttonLabel,
.activeButtonLabel {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-block;
  }
}

.buttonIcon {
  width: 24px;
  height: 24px;
  font-weight: 600;
}

.activeButtonIcon {
  @extend .buttonIcon;
}

.toolbar {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  margin: 0;
  margin-bottom: 40px;

  & > li {
    display: inline-block;
    // width: 56px;
    // height: 56px;
  }
}
