label {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  margin-bottom: 20px;
  color: var(--primary-color);

  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-align: left;
}

.input {
  padding: 16px 32px 16px 12px;
  border-radius: 8px;
  border: 1px solid grey;
  color: var(--primary-color);
  background-color: var(--primary-white-color);
  outline: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  position: relative;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;

  &::placeholder {
    color: var(--primary-color);
  }

  &.isInvalid {
    border: 1px solid var(--error-color);
  }
}

.errorMessage {
  color: var(--error-color);

  position: absolute;
  bottom: -20px;
  right: 16px;

  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: right;
}
