.wrapper {
  margin: 0 auto;
  background-color: var(--primary-white-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 378px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1440px;
  }
}

.main {
  flex: 1 1 auto;
  padding: 24px;

  background-image: url(../../assets/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
