.dropdownOverlay {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  &.active {
    display: block;
    z-index: 120;
    visibility: visible;
  }
  &.closed {
    display: none;
    height: 1;
    width: 1;
    visibility: hidden;
  }
}

.dropdownContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  color: var(--primary-color);

  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-align: left;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 16px;
  min-width: 56px;
  height: 56px;
  padding: 16px;
  border-radius: 8px;
  gap: 16px;
  box-shadow: 2px 4px 9px 0px #a68dae47;
  border: none;
  background-color: var(--primary-white-color);
  transition: color 350ms ease-in-out;

  cursor: pointer;
  @media screen and (min-width: 768px) {
    min-width: 150px;
    justify-content: space-evenly;
  }

  &:hover,
  &:focus {
    color: var(--primary-color);
  }

  & svg > path {
    transition: stroke 350ms ease-in-out;
  }
  &:hover svg > path,
  &:focus svg > path {
    stroke: var(--primary-color);
  }
}

.dropdownMenu {
  position: absolute;
  min-width: 170px;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  border-radius: 12px;
  top: calc(100% + 8px);
  border: 1px solid #ccc;
  border-top: none;
  margin-top: 2px;
  padding: 0;
  list-style-type: none;
  display: none;
  padding: 0 16px;
  box-sizing: border-box;
  box-shadow: 2px 4px 9px 0px #a68dae47;
  max-width: 240px;
  &.sortItme {
    right: 0;
  }
  @media screen and (min-width: 768px) {
    max-width: 308px;
  }
  @media screen and (min-width: 768px) {
    max-width: 372px;
  }
  &.active {
    display: block;
    z-index: 130;
  }
}

.dropdownItem {
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--primary-text-color);
  padding: 16px 0;
  border-bottom: 1px solid #aca7c3;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:nth-child(even) .iconArrow {
    transform: rotate(180deg);
  }

  &:hover,
  &:focus {
    color: var(--primary-color);
  }

  & > span {
    white-space: nowrap;
  }
}

.openIconWrapper {
  padding: 8px;
  position: absolute;
  right: 12px;
  top: 32px;
  transform: translateY(-50%);
  cursor: pointer;
}
.openIcon {
  color: var(--primary-color);
}

.buttonLabel {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
}
