.container {
  order: 2;
  align-self: center;
  width: 68px;
  height: 48px;

  @media screen and (min-width: 768px) {
    order: 3;
  }
}

.dropdownOverlay {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  &.active {
    display: block;
    z-index: 120;
    visibility: visible;
  }
  &.closed {
    display: none;
    height: 1;
    width: 1;
    visibility: hidden;
  }
}

.dropdownContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
  color: var(--primary-color);

  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-align: left;
}

.label {
  width: 100%;
  color: var(--primary-color);

  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-align: left;
}

.button {
  padding: 16px 35px 16px 12px;
  border-radius: 8px;
  border: 1px solid grey;
  color: var(--primary-color);
  background-color: var(--primary-white-color);
  outline: none;
  position: relative;
  box-shadow: 2px 4px 9px 0px #a68dae47;

  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.dropdownMenu {
  position: absolute;
  width: 100%;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  border-radius: 12px;
  top: calc(100% + 8px);
  border: 1px solid #ccc;
  border-top: none;
  margin-top: 2px;
  padding: 0;
  list-style-type: none;
  display: none;
  padding: 0 16px;
  box-sizing: border-box;
  box-shadow: 2px 4px 9px 0px #a68dae47;
  max-width: 68px;
  &.active {
    display: block;
    z-index: 130;
  }
}

.dropdownItem {
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--primary-text-color);
  padding: 16px 0;
  border-bottom: 1px solid #aca7c3;
  &:hover {
    color: var(--primary-color);
  }
}

.openIconWrapper {
  padding: 8px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.openIcon {
  color: var(--primary-color);
}

.label {
  text-transform: uppercase;
}
