@import './fonts/fonts.scss';
:root {
  font-family: Poppins, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
}

@supports (-webkit-touch-callout: none) {
  body {
    height: -webkit-fill-available;
  }
}

html,
body,
p {
  margin: 0;
}

html {
  --primary-color: #7b61ff;
  --primary-white-color: #ffffff;
  --high-priority-color: #ff2b77;
  --medium-priority-color: #e2a300;
  --low-priority-color: #6bd475;
}
